## Import Necessary Packages

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
sns.set()

## Load The Dataset And Make A Copy

In [3]:
raw_data = pd.read_csv('Downloads/mental-illnesses-prevalence.csv')
raw_data

,Entity,Code,Year,Schizophrenia disorders (share of population) - Sex: Both - Age: Age-standardized,Depressive disorders (share of population) - Sex: Both - Age: Age-standardized,Anxiety disorders (share of population) - Sex: Both - Age: Age-standardized,Bipolar disorders (share of population) - Sex: Both - Age: Age-standardized,Eating disorders (share of population) - Sex: Both - Age: Age-standardized
0,Afghanistan,AFG,1990,0.223206,4.996118,4.713314,0.703023,0.127700
1,Afghanistan,AFG,1991,0.222454,4.989290,4.702100,0.702069,0.123256
2,Afghanistan,AFG,1992,0.221751,4.981346,4.683743,0.700792,0.118844
3,Afghanistan,AFG,1993,0.220987,4.976958,4.673549,0.700087,0.115089
4,Afghanistan,AFG,1994,0.220183,4.977782,4.670810,0.699898,0.111815
...,...,...,...,...,...,...,...,...
6415,Zimbabwe,ZWE,2015,0.201042,3.407624,3.184012,0.538596,0.095652
6416,Zimbabwe,ZWE,2016,0.201319,3.410755,3.187148,0.538593,0.096662
6417,Zimbabwe,ZWE,2017,0.201639,3.411965,3.188418,0.538589,0.097330
6418,Zimbabwe,ZWE,2018,0.201976,3.406929,3.172111,0.538585,0.097909
6419,Zimbabwe,ZWE,2019,0.202482,3.395476,3.137017,0.538580,0.098295

In [41]:
mh_data = raw_data.copy()
mh_data

,Entity,Code,Year,Schizophrenia disorders (share of population) - Sex: Both - Age: Age-standardized,Depressive disorders (share of population) - Sex: Both - Age: Age-standardized,Anxiety disorders (share of population) - Sex: Both - Age: Age-standardized,Bipolar disorders (share of population) - Sex: Both - Age: Age-standardized,Eating disorders (share of population) - Sex: Both - Age: Age-standardized
0,Afghanistan,AFG,1990,0.223206,4.996118,4.713314,0.703023,0.127700
1,Afghanistan,AFG,1991,0.222454,4.989290,4.702100,0.702069,0.123256
2,Afghanistan,AFG,1992,0.221751,4.981346,4.683743,0.700792,0.118844
3,Afghanistan,AFG,1993,0.220987,4.976958,4.673549,0.700087,0.115089
4,Afghanistan,AFG,1994,0.220183,4.977782,4.670810,0.699898,0.111815
...,...,...,...,...,...,...,...,...
6415,Zimbabwe,ZWE,2015,0.201042,3.407624,3.184012,0.538596,0.095652
6416,Zimbabwe,ZWE,2016,0.201319,3.410755,3.187148,0.538593,0.096662
6417,Zimbabwe,ZWE,2017,0.201639,3.411965,3.188418,0.538589,0.097330
6418,Zimbabwe,ZWE,2018,0.201976,3.406929,3.172111,0.538585,0.097909
6419,Zimbabwe,ZWE,2019,0.202482,3.395476,3.137017,0.538580,0.098295

In [42]:
pd.isnull(mh_data).count()

Entity                                                                               6420
Code                                                                                 6420
Year                                                                                 6420
Schizophrenia disorders (share of population) - Sex: Both - Age: Age-standardized    6420
Depressive disorders (share of population) - Sex: Both - Age: Age-standardized       6420
Anxiety disorders (share of population) - Sex: Both - Age: Age-standardized          6420
Bipolar disorders (share of population) - Sex: Both - Age: Age-standardized          6420
Eating disorders (share of population) - Sex: Both - Age: Age-standardized           6420
dtype: int64

In [43]:
mh_data.rename(columns = {
    'Entity': 'Country'}, inplace=True)

In [44]:
mh_data

,Country,Code,Year,Schizophrenia disorders (share of population) - Sex: Both - Age: Age-standardized,Depressive disorders (share of population) - Sex: Both - Age: Age-standardized,Anxiety disorders (share of population) - Sex: Both - Age: Age-standardized,Bipolar disorders (share of population) - Sex: Both - Age: Age-standardized,Eating disorders (share of population) - Sex: Both - Age: Age-standardized
0,Afghanistan,AFG,1990,0.223206,4.996118,4.713314,0.703023,0.127700
1,Afghanistan,AFG,1991,0.222454,4.989290,4.702100,0.702069,0.123256
2,Afghanistan,AFG,1992,0.221751,4.981346,4.683743,0.700792,0.118844
3,Afghanistan,AFG,1993,0.220987,4.976958,4.673549,0.700087,0.115089
4,Afghanistan,AFG,1994,0.220183,4.977782,4.670810,0.699898,0.111815
...,...,...,...,...,...,...,...,...
6415,Zimbabwe,ZWE,2015,0.201042,3.407624,3.184012,0.538596,0.095652
6416,Zimbabwe,ZWE,2016,0.201319,3.410755,3.187148,0.538593,0.096662
6417,Zimbabwe,ZWE,2017,0.201639,3.411965,3.188418,0.538589,0.097330
6418,Zimbabwe,ZWE,2018,0.201976,3.406929,3.172111,0.538585,0.097909
6419,Zimbabwe,ZWE,2019,0.202482,3.395476,3.137017,0.538580,0.098295

## Framework For Measuring Trends Across Multiple Conditions.

In [45]:
mh_data_long = pd.melt(mh_data, 
                       id_vars=['Country', 'Code', 'Year'],
                       var_name='Disorders',
                       value_name='Prevalence_rate'
    
)

mh_data_long

,Country,Code,Year,Disorders,Prevalence_rate
0,Afghanistan,AFG,1990,Schizophrenia disorders (share of population) ...,0.223206
1,Afghanistan,AFG,1991,Schizophrenia disorders (share of population) ...,0.222454
2,Afghanistan,AFG,1992,Schizophrenia disorders (share of population) ...,0.221751
3,Afghanistan,AFG,1993,Schizophrenia disorders (share of population) ...,0.220987
4,Afghanistan,AFG,1994,Schizophrenia disorders (share of population) ...,0.220183
...,...,...,...,...,...
32095,Zimbabwe,ZWE,2015,Eating disorders (share of population) - Sex: ...,0.095652
32096,Zimbabwe,ZWE,2016,Eating disorders (share of population) - Sex: ...,0.096662
32097,Zimbabwe,ZWE,2017,Eating disorders (share of population) - Sex: ...,0.097330
32098,Zimbabwe,ZWE,2018,Eating disorders (share of population) - Sex: ...,0.097909
32099,Zimbabwe,ZWE,2019,Eating disorders (share of population) - Sex: ...,0.098295

In [46]:
mh_data_long['Disorders'] = mh_data_long['Disorders'].str.extract(r'^(.*? disorders)')[0] 
mh_data_long

           Country Code  Year                Disorders  Prevalence_rate
0      Afghanistan  AFG  1990  Schizophrenia disorders         0.223206
1      Afghanistan  AFG  1991  Schizophrenia disorders         0.222454
2      Afghanistan  AFG  1992  Schizophrenia disorders         0.221751
3      Afghanistan  AFG  1993  Schizophrenia disorders         0.220987
4      Afghanistan  AFG  1994  Schizophrenia disorders         0.220183
...            ...  ...   ...                      ...              ...
32095     Zimbabwe  ZWE  2015         Eating disorders         0.095652
32096     Zimbabwe  ZWE  2016         Eating disorders         0.096662
32097     Zimbabwe  ZWE  2017         Eating disorders         0.097330
32098     Zimbabwe  ZWE  2018         Eating disorders         0.097909
32099     Zimbabwe  ZWE  2019         Eating disorders         0.098295

[32100 rows x 5 columns]

## Calculate Year-Over-Year Prevalence Changes

In [53]:
mh_data_long.sort_values(['Country', 'Code', 'Year'])

           Country Code  Year                Disorders  Prevalence_rate
0      Afghanistan  AFG  1990  Schizophrenia disorders         0.223206
6420   Afghanistan  AFG  1990     Depressive disorders         4.996118
12840  Afghanistan  AFG  1990        Anxiety disorders         4.713314
19260  Afghanistan  AFG  1990        Bipolar disorders         0.703023
25680  Afghanistan  AFG  1990         Eating disorders         0.127700
...            ...  ...   ...                      ...              ...
6419      Zimbabwe  ZWE  2019  Schizophrenia disorders         0.202482
12839     Zimbabwe  ZWE  2019     Depressive disorders         3.395476
19259     Zimbabwe  ZWE  2019        Anxiety disorders         3.137017
25679     Zimbabwe  ZWE  2019        Bipolar disorders         0.538580
32099     Zimbabwe  ZWE  2019         Eating disorders         0.098295

[32100 rows x 5 columns]

In [57]:
mh_data_long['YoY_change'] = mh_data_long.groupby(['Country', 'Disorders'])['Prevalence_rate'].diff()

In [59]:
mh_data_long.pop('yoy_change')

0             NaN
1       -0.000752
2       -0.000703
3       -0.000764
4       -0.000804
           ...
32095    0.001044
32096    0.001009
32097    0.000668
32098    0.000579
32099    0.000387
Name: yoy_change, Length: 32100, dtype: float64

In [60]:
mh_data_long

,Country,Code,Year,Disorders,Prevalence_rate,YoY_change
0,Afghanistan,AFG,1990,Schizophrenia disorders,0.223206,NaN
1,Afghanistan,AFG,1991,Schizophrenia disorders,0.222454,-0.000752
2,Afghanistan,AFG,1992,Schizophrenia disorders,0.221751,-0.000703
3,Afghanistan,AFG,1993,Schizophrenia disorders,0.220987,-0.000764
4,Afghanistan,AFG,1994,Schizophrenia disorders,0.220183,-0.000804
...,...,...,...,...,...,...
32095,Zimbabwe,ZWE,2015,Eating disorders,0.095652,0.001044
32096,Zimbabwe,ZWE,2016,Eating disorders,0.096662,0.001009
32097,Zimbabwe,ZWE,2017,Eating disorders,0.097330,0.000668
32098,Zimbabwe,ZWE,2018,Eating disorders,0.097909,0.000579
32099,Zimbabwe,ZWE,2019,Eating disorders,0.098295,0.000387

In [64]:
mh_data_long=mh_data_long.fillna(0)
mh_data_long

,Country,Code,Year,Disorders,Prevalence_rate,YoY_change
0,Afghanistan,AFG,1990,Schizophrenia disorders,0.223206,0.000000
1,Afghanistan,AFG,1991,Schizophrenia disorders,0.222454,-0.000752
2,Afghanistan,AFG,1992,Schizophrenia disorders,0.221751,-0.000703
3,Afghanistan,AFG,1993,Schizophrenia disorders,0.220987,-0.000764
4,Afghanistan,AFG,1994,Schizophrenia disorders,0.220183,-0.000804
...,...,...,...,...,...,...
32095,Zimbabwe,ZWE,2015,Eating disorders,0.095652,0.001044
32096,Zimbabwe,ZWE,2016,Eating disorders,0.096662,0.001009
32097,Zimbabwe,ZWE,2017,Eating disorders,0.097330,0.000668
32098,Zimbabwe,ZWE,2018,Eating disorders,0.097909,0.000579
32099,Zimbabwe,ZWE,2019,Eating disorders,0.098295,0.000387

In [65]:
mh_data_long.tail()

        Country Code  Year         Disorders  Prevalence_rate  YoY_change
32095  Zimbabwe  ZWE  2015  Eating disorders         0.095652    0.001044
32096  Zimbabwe  ZWE  2016  Eating disorders         0.096662    0.001009
32097  Zimbabwe  ZWE  2017  Eating disorders         0.097330    0.000668
32098  Zimbabwe  ZWE  2018  Eating disorders         0.097909    0.000579
32099  Zimbabwe  ZWE  2019  Eating disorders         0.098295    0.000387

In [66]:
mh_data_long

,Country,Code,Year,Disorders,Prevalence_rate,YoY_change
0,Afghanistan,AFG,1990,Schizophrenia disorders,0.223206,0.000000
1,Afghanistan,AFG,1991,Schizophrenia disorders,0.222454,-0.000752
2,Afghanistan,AFG,1992,Schizophrenia disorders,0.221751,-0.000703
3,Afghanistan,AFG,1993,Schizophrenia disorders,0.220987,-0.000764
4,Afghanistan,AFG,1994,Schizophrenia disorders,0.220183,-0.000804
...,...,...,...,...,...,...
32095,Zimbabwe,ZWE,2015,Eating disorders,0.095652,0.001044
32096,Zimbabwe,ZWE,2016,Eating disorders,0.096662,0.001009
32097,Zimbabwe,ZWE,2017,Eating disorders,0.097330,0.000668
32098,Zimbabwe,ZWE,2018,Eating disorders,0.097909,0.000579
32099,Zimbabwe,ZWE,2019,Eating disorders,0.098295,0.000387